<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        	<script src="https://code.jquery.com/jquery.js"></script>
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/css/style.css">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			<!-- Latest compiled and minified JavaScript -->
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

			<title>Sarah Maples</title>
	</head>
	<body>
		{{!-- navbar a la bootstrap --}}
		<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="nav-header">
  			<a class="navbar-brand" href="#">Sarah Maples</a>
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    				<span class="navbar-toggler-icon"></span>
  				</button>

  				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   		<div class="navbar-nav">
      <a class="nav-item nav-link" href="#">about<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">portfolio</a>
      <a class="nav-item nav-link" href="#">contact</a>
    </div>
  </div>
</nav>
		{{{ body }}}
		<script src="/assets/js/main.js"></script>

		{{!-- footer also a la bootstrap --}}
		<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 fixed-bottom" id="contact-footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-1">

<div id="contact-links-container">
            <!-- git -->
            <a id="git-ic" href="https://github.com/sarahemaples" target="blank">
              <i class="fa fa-github"></i>
            </a>

            {{!-- linkedin --}}
            <a id="li-ic" href="https://www.linkedin.com/in/sarahemaples/" target="blank">
              <i class="fa fa-linkedin-square"></i>
            </a>

            {{!-- google --}}
            <a id="goog-ic" href="mailto:sarah.e.maples@gmail.com" target="blank">
              <i class="fa fa-google"></i>
            </a>
        <!-- Grid column -->
</div>
      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

  </footer>
  <!-- Footer -->
	</body>
</html>
