{{!-- about me section --}}
{{!-- this wont have any links or anyything i dont think. itll just be a lil blurb about moi --}}
<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-after-navbar" id="header1-9" style="background-image: url(assets/img/bridge.jpg);">

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                    <h1 class="mbr-section-title display-1">about me</h1>
                </div>
            </div>

            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie magna nulla, a consectetur lacus cursus eget. Nullam ornare at velit a dictum. Morbi a elit ex. Pellentesque lorem velit, imperdiet sed lectus sit amet, mattis condimentum mi. Aliquam mollis vestibulum enim. Nullam tincidunt consequat mauris, et dictum odio scelerisque id. Sed condimentum volutpat dui et commodo. Integer interdum ligula id facilisis rhoncus. Quisque vitae consectetur urna. Nulla turpis velit, sodales non dolor sed, maximus mollis sem. Etiam viverra lacinia semper. Nullam et ultrices est, sed pulvinar tellus. Donec eros mauris, vestibulum et sodales eu, feugiat eget purus. Cras vel dolor a ex egestas venenatis.</p>
                </div>
            </div>
        </div>
    </div>

</section>
{{!-- end of about me section --}}

{{!-- portfolio section --}}
{{!-- this will include a little blurb about my works and a link to my portfolio page (maybe also to myy git?) --}}

<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background" id="header2-b" style="background-image: url(assets/img/trailOLights.jpg);">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
    </div>

    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">

            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">
                        
                        
                        

                        <div class="mbr-table-cell col-md-5 content-size text-xs-center text-md-right">

                            <h3 class="mbr-section-title display-2">portfolio</h3>

                            <div class="mbr-section-text">
                                
                            </div>

                            <div class="mbr-section-btn"><a class="btn btn-white" href="portfolio.html">PORTFOLIO</a></div>

                        </div>
                        <div class="mbr-table-cell mbr-valign-top mbr-left-padding-md-up col-md-7 image-size" style="width: 55%;">
                            <div class="mbr-figure"><a href="portfolio.html" class="mbri-hearth mbr-iconfont mbr-iconfont-header2" style="font-size: 250px;"></a></div>
                        </div>

                    </div>
                </div>

                            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie magna nulla, a consectetur lacus cursus eget. Nullam ornare at velit a dictum. Morbi a elit ex. Pellentesque lorem velit, imperdiet sed lectus sit amet, mattis condimentum mi. Aliquam mollis vestibulum enim. Nullam tincidunt consequat mauris, et dictum odio scelerisque id. Sed condimentum volutpat dui et commodo. Integer interdum ligula id facilisis rhoncus. Quisque vitae consectetur urna. Nulla turpis velit, sodales non dolor sed, maximus mollis sem. Etiam viverra lacinia semper. Nullam et ultrices est, sed pulvinar tellus. Donec eros mauris, vestibulum et sodales eu, feugiat eget purus. Cras vel dolor a ex egestas venenatis.</p>
                </div>
            </div>
            </div>

        </div>
    </div>

    

</section>

{{!-- end of portfolio section --}}

{{!-- hellbound section!!! --}}
{{!-- i think this will have a link to the hellbound website and maybe most recent ep and stuff? dont think i need to make a whole hellbound page --}}

<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow" id="header1-0" style="background-image: url(assets/img/hellbound.jpg);">

    

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1">hellbound</h1>
                    
                    <div class="mbr-section-btn"><a class="btn btn-lg btn-white" href="featured.html">VIEW MORE</a> </div>
                </div>
            </div>
                                        <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie magna nulla, a consectetur lacus cursus eget. Nullam ornare at velit a dictum. Morbi a elit ex. Pellentesque lorem velit, imperdiet sed lectus sit amet, mattis condimentum mi. Aliquam mollis vestibulum enim. Nullam tincidunt consequat mauris, et dictum odio scelerisque id. Sed condimentum volutpat dui et commodo. Integer interdum ligula id facilisis rhoncus. Quisque vitae consectetur urna. Nulla turpis velit, sodales non dolor sed, maximus mollis sem. Etiam viverra lacinia semper. Nullam et ultrices est, sed pulvinar tellus. Donec eros mauris, vestibulum et sodales eu, feugiat eget purus. Cras vel dolor a ex egestas venenatis.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#header1-a"><i class="mbr-arrow-icon"></i></a></div>

</section>

{{!-- end of hellbounddddd --}}
{{!-- (also maybe make an expanded about me apage and thats where this would go) --}}

{{!-- contact section! --}}
{{!-- this will have like one link or something and then maybe make a page with ALL your contact --}}
<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow" id="header1-0" style="background-image: url(assets/images/mbr-2.jpg);">

    

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1">contact</h1>
                    
                    <div class="mbr-section-btn"><a class="btn btn-lg btn-white" href="featured.html">VIEW MORE</a> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#header1-a"><i class="mbr-arrow-icon"></i></a></div>

</section>
{{!-- end of contact section --}}