<div class="container-fluid" id="portfolio-container">

    <div class="row" id="port-completed-projects">

        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">WWWMB</h5>
                <p class="card-text">
                    <a id="git-ic" href="https://github.com/sarahemaples/wwwmb" target="blank">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
                <a href="https://peaceful-cove-62787.herokuapp.com/" class="btn btn-primary" target="blank">deployed site</a>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">giftastic</h5>
                <p class="card-text">
                    <a id="git-ic" href="https://github.com/sarahemaples/GifTastic" target="blank">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
                <a href="https://sarahemaples.github.io/GifTastic/" class="btn btn-primary" target="blank">deployed site</a>
            </div>
            </div>
        </div>
    </div>

</div>