{{!-- <section id="portfolio-section">
    <div class="container-fluid" id="portfolio-container">

        <div class="row" id="port-completed-projects">

            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">WWWMB</h5>
                    <p class="card-text">
                        <a id="git-ic" href="https://github.com/sarahemaples/wwwmb" target="blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </p>
                    <a href="https://peaceful-cove-62787.herokuapp.com/" class="btn btn-primary" target="blank">deployed site</a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">giftastic</h5>
                    <p class="card-text">
                        <a id="git-ic" href="https://github.com/sarahemaples/GifTastic" target="blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </p>
                    <a href="https://sarahemaples.github.io/GifTastic/" class="btn btn-primary" target="blank">deployed site</a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Heathers Friend Quiz</h5>
                            <p class="card-text">
                                <a id="git-ic" href="https://github.com/sarahemaples/FriendFinderr" target="blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </p>
                            <a href="https://serene-escarpment-55048.herokuapp.com/" class="btn btn-primary" target="blank">deployed site</a>
                    </div>
                </div>
            </div>
        </div>

    </div> --}}

<section id="portfolio" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">'completed' projects</h5>
        <div class="row">
            <!-- project card -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Sunlimetech</h4>
                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
</div>
</div>
</section>