<section id="portfolio" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">'completed' projects</h5>
        <div class="row">   
        {{!-- project --}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/img/wwwmb.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">WWWWMB</h5>
                    <p class="card-text">One stop patient portal for all your medical needs!</p>
                    <a class="social-icon text-xs-center" target="_blank" href="https://peaceful-cove-62787.herokuapp.com/">
                        <i class="fa fa-external-link"></i>
                    </a>
                    <a id="git-ic" href="https://github.com/sarahemaples/wwwmb" target="blank">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        {{!-- project --}}
</div>
</div>
</section>