<section id="portfolio" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">'completed' projects</h5>
        <div class="row">   
        {{!-- project --}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/img/wwwmb.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">WWWMB</h5>
                    <p class="card-text">One stop patient portal for all your medical needs!</p>
</div>
                <div class="card-footer">
                        <div class="prof-link-wrapper">
                    <a class="social-icon text-xs-center" target="_blank" href="https://peaceful-cove-62787.herokuapp.com/">
                        <i class="fa fa-lg fa-external-link"></i>
                    </a>
                    <a id="git-ic" href="https://github.com/sarahemaples/wwwmb" target="blank">
                        <i class="fa fa-lg fa-github"></i>
                    </a>
                </div>
                </div>
            </div>
        {{!-- /project --}}
                {{!-- project --}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/img/scrapey.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Scrapey Pasta</h5>
                    <p class="card-text">Creepy Pasta scraper app</p>
                    </div>
                    <div class="card-footer">
                        <div class="prof-link-wrapper">
                    <a class="social-icon text-xs-center" target="_blank" href="https://fierce-everglades-60941.herokuapp.com/">
                        <i class="fa fa-lg fa-external-link"></i>
                    </a>
                    <a id="git-ic" href="https://github.com/sarahemaples/scrapey-scrapes" target="blank">
                        <i class="fa fa-lg fa-github"></i>
                    </a>
                </div>
                </div>
            </div>
        {{!-- /project --}}
                        {{!-- project --}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/img/word-guess.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Word Guess Game</h5>
                    <p class="card-text">Terrifyingly similar to hangman</p>
                    <a class="social-icon text-xs-center" target="_blank" href="https://sarahemaples.github.io/Word-Guess-Game/">

                </div>
                                    <div class="card-footer">
                        <div class="prof-link-wrapper">
                        <i class="fa fa-lg fa-external-link"></i>
                    </a>
                    <a id="git-ic" href="https://github.com/sarahemaples/Word-Guess-Game" target="blank">
                        <i class="fa fa-lg fa-github"></i>
                    </a>
                    </div>
                </div>
            </div>
        {{!-- /project --}}
</div>
</div>
</section>